<div class="dashboard-layout">
    
    <aside class="sidebar">
        <div class="logo">
            <div class="logo-icon">Wise</div>
        </div>
        
        <nav class="sidebar-nav">

            <a routerLink="/agenda" class="nav-item">
                <span class="icon">📅</span> Agenda
            </a>
            <a routerLink="/pacientes" class="nav-item">
                <span class="icon">👥</span> Pacientes
            </a>
            <a routerLink="/dentistas" class="nav-item">
                <span class="icon">👨‍⚕️</span> Dentistas
            </a>
            <a routerLink="/especialidade" class="nav-item">
                 <span class="icon">🏥</span> Especialidades
            </a>
            <a routerLink="/usuarios" class="nav-item">
                 <span class="icon">👤</span> Usuarios
            </a>
        </nav>

        <div class="sidebar-footer">
            <a href="#" (click)="sair($event)" class="nav-item logout">
                <span class="icon">🚪</span> Sair
            </a>
        </div>
    </aside>

    <main class="main-content">
        
        <header class="content-header">
            <div>
                <h1 class="page-title">Visão Geral</h1>

            </div>
            
            <div class="quick-actions">
                <button class="btn-action outline" routerLink="/cadastro-usuario">+ Registrar Usuário</button>
                <button class="btn-action outline" routerLink="/cadastro-dentista">+ Registrar Dentista</button>
                <button class="btn-action outline" routerLink="/cadastro-paciente">+ Cadastrar Paciente</button>
                <button class="btn-action primary" routerLink="/novo-agendamento">+ Novo Agendamento</button>
            </div>
        </header>

        <section class="cards-grid">
            <div class="stat-card">
                <div class="card-icon" style="background-color: #e0f2fe;">🦷</div>
                <div class="card-info">
                    <p>Consultas Hoje</p>
                    <h3>12 Agendadas</h3>
                </div>
            </div>
            
            <div class="stat-card">
                <div class="card-icon" style="background-color: #fef08a;">👥</div>
                <div class="card-info">
                    <p>Total de Pacientes</p>
                    <h3>1.450 Registrados</h3>
                </div>
            </div>
            
            <div class="stat-card">
                <div class="card-icon" style="background-color: #e0e7ff;">👨‍⚕️</div>
                <div class="card-info">
                    <p>Dentistas Ativos</p>
                    <h3>8 Especialistas</h3>
                </div>
            </div>
            
            <div class="stat-card">
                <div class="card-icon" style="background-color: #dcfce7;">✅</div>
                <div class="card-info">
                    <p>Consultas Finalizadas</p>
                    <h3>4 Hoje</h3>
                </div>
            </div>
        </section>

        <section class="table-section">
            <div class="table-header">
                <h2>Agenda do Dia</h2>
                <span class="date-badge"> {{ dataAtual | date:'dd/MM/yyyy' }}</span>            </div>
            
            <div class="table-container">
                <table class="agenda-table">
                    <thead>
                        <tr>
                            <th >Data</th>
                            <th>Horário</th>
                            <th>Paciente</th>
                            <th>Dentista</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        @for (consulta of consultasDoDia; track consulta.id) {
                        <tr>
                            <td class="date-col">{{ consulta.dataInicio | date:'dd/MM/yyyy' }}</td>
                            <td class="time-col">{{ consulta.dataInicio | date:'HH:mm' }}</td>
                            <td class="font-medium">{{ consulta.paciente.nome }}</td>
                            <td>{{ consulta.dentista.nome }}</td>
                            <td>
                                <span class="status-tag" [ngClass]="{
                                    'scheduled': consulta.status === 'AGENDADA',
                                    'finished': consulta.status === 'FINALIZADA',
                                    'canceled': consulta.status === 'CANCELADA'
                                }">
                                    {{ consulta.status }}
                                </span>
                            </td>
                        </tr>
                        }

                        @if (consultasDoDia.length === 0) {
                        <tr>
                            <td colspan="4" style="text-align: center; padding: 2rem; color: #64748b;">
                                Nenhuma consulta agendada para apresentar.
                            </td>
                        </tr>
                        }
                    
                    </tbody>
                </table>
            </div>
        </section>

    </main>
</div>