<nav class="navbar">
    <div class="nav-container">
        <div class="logo">
            <div class="logo-icon">Wise</div>
            <span>Smile</span>
        </div>
        <div class="nav-actions">
            <a href="#" class="btn btn-primary">Entrar</a>
        </div>
    </div>
</nav>

<header class="hero">
    <div class="hero-grid">
        <div class="hero-text">
            <div class="badge">
                <span class="badge-dot"></span>
                A saúde do seu sorriso começa aqui. Encontre o seu dentista.  
            </div>
            <h1 class="hero-title">
                Foco na <span>Recepção e Agendamento</span>.
            </h1>
            <p class="hero-description">
                Simplifique o dia a dia da sua recepção. Conecte pacientes aos especialistas certos, gerencie consultas com proteção contra choque de horários e mantenha o histórico de atendimentos sempre organizado e seguro.
                <br><br>
                Cadastre-se e encontre o dentista perfeito para a sua necessidade.
            </p>
            <div class="hero-cta">
                <a href="#" class="btn btn-primary">Cadastro</a>
            </div>
        </div>
        
        <div class="hero-image">
            <div class="mockup-box">
                <div class="mockup-placeholder">

                    <span> <img class="image" src="Gemini_Generated_Image_.png" width="450" height="325"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-bottom">
            <div class="logo">
                <div class="logo-icon" style="width:24px; height:24px; font-size: 0.85rem;">w.</div>
                <span style="font-size: 1.15rem;">Smile</span>
            </div>
            <p class="footer-copyright">
                Sempre atendendo seu sorriso Curitibano<br>
                2026 Wise Smile.
            </p>
        </div>
    </div>
</footer>